$cWhite: #FFF;
$cBlack: #000;
$cGray: gray;
$cPink: rgb(255, 130, 250);

$bgPink: rgb(255, 235, 245);
$bgCover: rgba(0, 0, 0, 0.30);
$bgLightBlue: rgb(225, 235, 255);
$cvLightBlue: rgb(225, 253, 255);
$contentMaxWidth: 1070px;

$cFooter: rgb(255, 245, 215)