
@import "modules/variables";
@import "modules/parallax-slider";

@mixin animation(
    $name,
    $duration: 1s,
    $timing-function: ease,
    $delay: 0s,
    $iteration-count: 1,
    $direction: normal,
    $fill-mode: forwards
) {
    animation: {
        name: $name;
        duration: $duration;
        timing-function: $timing-function;
        delay: $delay;
        iteration-count: $iteration-count;
        direction: $direction;
        fill-mode: $fill-mode;
    }
}
body { font-family: "Kameron", "Hannari", sans-serif; }
// body {
//     font-family: sans-serif;
// }
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
.inner {
    width: 90%;
    margin: 0 auto;
    max-width: 1160px;
}
.font-xsm {
    font-size: 14px;
}
.font-sm {
    font-size: 18px;
}
.font-md {
    font-size: 22px;
}
.font-lr {
    font-size: 28px;
}
.font-lg {
    font-size: 40px;
}

.globalContainer {
    position: relative;
    overflow: hidden;
}
.container {
    position: relative;
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: #2c3e50;
    z-index: 0;
    transform: skewY(4deg);
    transform-origin: top right;
}

header {
    height: 90px;
    width: 100%;
    background-color: $cWhite;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.globalMenu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 40;
    display: flex;
    justify-content: flex-end;
    width: 150px;
    height: 150px;
    background-color: $cPink;
    border-radius: 0 0 0 90%;
    box-shadow: 0 0 6px 1px $bgCover;
    & li {
        margin: 13px;
        & > a {
            color: $cWhite;
            font-weight: 600;
        }
    }
}

.mainVisual {
    position: relative;
    // background-color: $bgLightBlue;
    height: 760px;
    width: 100%;
    margin-bottom: 100px;
    overflow: hidden;
    &__img {
        display: block;
        background-image: url(../img/img/nail-main.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__inner {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translateX(-50%)translateY(-50%);
        display: flex;
        flex-direction: column;
    }
    &__txtarea {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        & > h2 {
            font-size: 3.6rem;
        }
        & > p {
            @extend .font-md;
        }
    }
    &__banner {
        margin: 0 auto;
    }
    &__topnews {
        height: 80px;
        width: 330px;
        position: absolute;
        top: 81%;
        left: 10%;
        z-index: 10;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $cWhite;
        border: solid 1px $cBlack;
        border-radius: 6px;
        transition: all .3s;
        & a {
            display: block;
            color: $cBlack;
            margin-left: 10%;
            transition: color .3s;
        }
        & .topnews {
            &-ttl {
                @extend .font-sm;
                font-weight: 600;
                display: block;
                margin-bottom: 8px;
            }
            &-discription {
                @extend .font-xsm;
                display: block;
                &::before {
                    content: "→";
                    font-size: 10px;
                    opacity: .8;
                }
            }
            &-arrow {
                content: "";
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                box-sizing: border-box;
                width: 24px;
                height: 24px;
                border: 1px solid $cGray;
                border-radius: 50%;
                transition: border .3s;
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    width: 9px;
                    height: 9px;
                    border-top: 1px solid $cGray;
                    border-right: 1px solid $cGray;
                    transform: translateX(4px) translateY(-50%) rotate(45deg);
                    transition: border .3s;
                }
            }
        }
        &:hover {
            background-color: $cBlack;
            transform: scale(1.1);
            & a {
                color: $cWhite;
            }
            & .topnews-arrow {
                border: 1px solid $cPink;
                &::after {
                    border-top: 1px solid $cPink;
                    border-right: 1px solid $cPink;
                }
            }
        }
    }
}
.concept {
    text-align: center;
    margin-bottom: 140px;
    &__header {
        @extend .font-lg;
        margin-bottom: 70px;
    }
    &__body {

    }
    &__discription {
        @extend .font-lr;
        font-weight: 600;
        color: $cPink;
        margin-bottom: 60px;
    }
}

section {
    &:not(:first-of-type) {
    position: relative;
    height: 840px;
    width: 100%;
        &:not(#news) {
            transform: translateY(-30px);
            &:not(#shop) {
                transform: translateY(-60px);
                &:not(#gallery) {
                    transform: translateY(-90px);
                    & .section__container {
                        height: 760px;
                    }
                }
            }
        }
    }
    // &:last-of-type {
    //     & .section__container {
    //         height: 640px;
    //     }
    // }
}
.section {
    &__container {
        position: absolute;
        top: 75px;
        width: 60%;
        height: 960px;
        padding: 40px;
        box-shadow: 0 6px 6px 1px $bgCover;
        &.odd {
            left: 0;
            background-color: $bgPink;      
            border-radius: 0 33px 0 0;
        }
        &.even {
            right: 0;
            background-color: $bgLightBlue;
            border-radius: 33px 0 0 0;
        }
    }
    &__inner {
        @extend .inner;
    }
    &__header {
        position: absolute;
        top: 0;
        z-index: 10;
        height: 150px;
        width: 150px;
        background-color: $cWhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px $cBlack;
        border-radius: 50%;
        // margin: 40px 40px 80px 25%;
        @extend .font-lr;
        &.odd {
            left: 0;
            opacity: 0;
            &.inview {
                opacity: 1;
                @include animation(
                    $name: kf-run-section-ttl-odd,
                    $duration: 1.5s,
                    $timing-function: ease-in-out,
                );
            }
        }
        &.even {
            right: 0;
            opacity: 0;
            &.inview {
                opacity: 1;
                @include animation(
                $name: kf-run-section-ttl-even,
                $duration: 1.5s,
                $timing-function: ease-in-out,
                );
            }
        }
    }
    &__body {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 140px 0;
        &.even {
            justify-content: flex-start;
            align-items: center;
        }
    }
    &__img {
        display: inline-block;
        margin-right: 40px;
    }
    &__textarea{
        display: flex;
        flex-direction: column;
    }
    &__ttl {
        margin-bottom: 14px;
    }
    &__discription {
        margin-bottom: 24px;
    }
    &__swiper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 140px 0 0 10%;
        border: 2px dotted $cBlack;
        border-radius: 20px;
        overflow: hidden;
    }
    &__list {
        margin:140px 0;
        & > ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & li {
                width: 30%;
                margin-right: 1%;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &.even {
            & > ul {
                justify-content: flex-start;
            }
        }
        &-card {
            height: 420px;
            & img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 6px;
                margin-bottom: 18px;
            }
            & .txtarea {
                height: 240px;
                border: 2px dotted $cBlack;
                padding: 6px;
                margin-bottom: 18px;
                border-radius: 6px;
            }
            & .ttl {
                @extend .font-md;
                margin-bottom: 14px;
            }
            & .discription {
                @extend .font-sm;
            }
            & button {
                border: none;
                width: 80%;
                height: 36px;
                display: block;
                margin: 0 auto;
                background-color: $cPink;
                color: $cWhite;
                font-weight: 600;
                @extend .font-sm;
                border-radius: 16px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &__gallery {
        margin: 120px 0 0 10%;
        border: 2px dotted $cBlack;
        & ul {
            & > li {
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    padding-top: 50%;  //アスペクト比率 height/width*100
                }
                &:first-child {
                    width: 100%;
                    margin-bottom: 6px;
                }
            }
            & div {
                display: flex;
                & li {
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        padding-top: 50%;  //アスペクト比率 height/width*100
                    }
                    &:first-child{
                        width: 50%;
                        margin-right: 6px;
                    }
                    &:nth-child(2){
                        width: 25%;
                        margin-right: 6px;
                    }
                    &:nth-child(3){
                        width: 25%;
                        display: flex;
                        flex-direction: column;
                    }
                }    
            }
        }

        &-card {
            &00 {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: inline-block;
                background-color: $cWhite;
                overflow: hidden;
                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                & .ttl {
                    @extend .font-lr;
                    position: absolute;
                    top: 28px;
                    left: 20px;
                    color: $cWhite;
                }
            }
            &01 {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: inline-block;
                background-color: $cWhite;
                margin-right: 10px;
                overflow: hidden;
                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                & .ttl {
                    @extend .font-lr;
                    position: absolute;
                    top: 28px;
                    left: 20px;
                    color: $cWhite;
                }
            }
            &02 {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: inline-block;
                background-color: $cWhite;
                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                & .ttl {
                    @extend .font-xsm;
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    color: $cWhite;
                }
            }
            &03 {
                height: calc(50% - 3px);
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: inline-block;
                background-color: $cWhite;
                margin-bottom: 6px;
                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                & .ttl {
                    @extend .font-xsm;
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    color: $cWhite;
                }
            }
            &04 {
                height: calc(50% - 3px);
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: calc(50% + 3px);
                right: 0;
                bottom: 0;
                left: 0;
                display: inline-block;
                background-color: $cWhite;
                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                & .ttl {
                    @extend .font-xsm;
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    color: $cWhite;
                }
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 30;
    background-color: $cFooter;
    box-shadow: 1px 0 6px 4px $cFooter;
    width: 100%;
    height: 100px;
    & > ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 20px 25%;
        & > li a {
            color: $cGray;
        }
    }
}
small {
    text-align: center;
    margin: 10px;
}

// 背景にパララックス効果

// .wrap {
//     position: relative;
//     line-height: 1.5;
//     overflow: hidden;
//     padding: 1000px 0;
// }
.bg01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 6000px;
    transition: top 1.5s ease-out;
    background: url(../img/bg/bubbles-pink.png) repeat-y center top;
}
.bg02 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 6200px;
    transition: top 1.5s ease-out;
    background: url(../img/bg/bubbles-skyblue.png) repeat-y center top;
}

.googlemap {
    margin-right: 34px;
    background-color: $cWhite;
    border: 2px dotted $cBlack;
    & iframe {
        margin: 3px;
    }
}
@keyframes kf-run-section-ttl-odd {
    0% {
        opacity: 1;
        left: -15%;
        transform: rotate(45deg);
    }
    70% {
        transform: rotate(45deg);
    }
    80% {
        left: 22%;
        transform: rotate(65deg);
    }
    90% {
        transform: rotate(-15deg);
    }
    100% {
        left: 18%;
        transform: none;
    }
}
@keyframes kf-run-section-ttl-even {
    0% {
        opacity: 1;
        right: -15%;
        transform: rotate(-45deg);
    }
    70% {
        transform: rotate(-45deg);
    }
    80% {
        right: 22%;
        transform: rotate(-65deg);
    }
    90% {
        transform: rotate(15deg);
    }
    100% {
        right: 18%;
        transform: none;
    }
}